<%= render 'shared/header' %>

<div class="max-w-6xl mx-auto py-8 px-4">
  <% if notice.present? %>
    <div class="bg-green-100 text-green-700 p-4 rounded-lg mb-6">
      <%= notice %>
    </div>
  <% end %>
  
  <% if alert.present? %>
    <div class="bg-red-100 text-red-700 p-4 rounded-lg mb-6">
      <%= alert %>
    </div>
  <% end %>

  <!-- 選手名編集ダイアログ -->
  <div data-controller="player-name" class="mb-6 flex space-x-4">
    <button type="button" class="bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 text-sm flex items-center" data-action="click->player-name#openDialog">
      選手名編集
    </button>
    <%= render 'players/name_edit_dialog', event: @event %>
    <%= link_to event_standings_path(@event), class: "bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 text-sm flex items-center" do %>
      成績表表示
    <% end %>
  </div>

  <div id="matches" class="space-y-10">
    <% @event.matches_grouped_by_sequence.each do |sequence_num, matches| %>
      <div class="match-group">
        <div class="bg-gray-50 py-1 px-4 rounded-t-lg border-b border-gray-300">
          <h2 class="text-sm font-normal text-gray-600"><%= sequence_num %></h2>
        </div>
          <div class="space-y-4 mt-4">
            <% matches.each do |match| %>
              <%= turbo_frame_tag "match_id_#{match.id}" do %>
                <%= render 'matches/match_detail', match: match %>
              <% end %>
              <!-- スコア入力ダイアログ（初期状態は非表示） -->
              <%= turbo_frame_tag "dialog_match_id_#{match.id}" do %>
                <%= render 'matches/score_dialog', match: match, status: @status %>
              <% end %>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>

  <div class="mt-10 text-center">
    <%= link_to root_path, class: "inline-flex items-center bg-gray-500 text-white py-2 px-6 rounded-lg hover:bg-gray-600 transition-colors" do %>
      別の乱数表を作成
    <% end %>
  </div>
</div>
