<%= render 'shared/header' %>

<div class="max-w-6xl mx-auto py-8 px-4">
  <% if notice.present? %>
    <div class="bg-green-100 text-green-700 p-4 rounded-lg mb-6">
      <%= notice %>
    </div>
  <% end %>
  
  <% if alert.present? %>
    <div class="bg-red-100 text-red-700 p-4 rounded-lg mb-6">
      <%= alert %>
    </div>
  <% end %>

  <!-- 選手名編集ダイアログ -->
  <div class="mb-6 flex space-x-4">
    <%= link_to "選手名編集", show_player_name_dialog_players_path(event_id: @event.id), data: { turbo_stream: true }, class:"bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 text-sm flex items-center" %>
    <%= render 'players/name_edit_dialog', event: @event, status: @status %>
    <%= link_to event_standings_path(@event), class: "bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 text-sm flex items-center" do %>
      成績表表示
    <% end %>
  </div>
  <%= turbo_frame_tag "matches_list" do %>
    <%= render 'events/event_matches_list', event: @event, status: @status %>
  <% end %>
  
  <div class="mt-10 text-center">
    <%= link_to root_path, class: "inline-flex items-center bg-gray-500 text-white py-2 px-6 rounded-lg hover:bg-gray-600 transition-colors" do %>
      別の乱数表を作成
    <% end %>
  </div>
</div>
