<div id="match_id_<%= match.id %>" class="match-item bg-white rounded-lg shadow p-4" data-controller="score">
  <div class="text-center mb-2 bg-indigo-100 py-1 px-2 rounded-md inline-block text-indigo-800 font-medium">
    <%= match.coat_num == 1 ? "Aコート" : "Bコート" %>
  </div>
  <div class="flex items-center justify-between">
    <div class="w-2/5">
      <ul class="space-y-1 text-center">
        <% match.home_players.each do |player| %>
          <li class="bg-blue-50 py-2 px-3 rounded-md"><%= player.display_name %></li>
        <% end %>
      </ul>
      <div class="mt-2 text-center">
        <%= link_to match.home_score, show_score_dialog_match_path(match), data: { turbo_stream: true }, class:"text-xl font-bold bg-blue-100 py-1 px-3 rounded-full inline-block min-w-10 cursor-pointer hover:bg-blue-200" %>
      </div>
    </div>
    <div class="text-center">
      <div class="text-xl font-bold text-gray-500">VS</div>
    </div>
    <div class="w-2/5">
      <ul class="space-y-1 text-center">
        <% match.away_players.each do |player| %>
          <li class="bg-red-50 py-2 px-3 rounded-md"><%= player.display_name %></li>
        <% end %>
      </ul>
      <div class="mt-2 text-center">
        <%= link_to match.away_score, show_score_dialog_match_path(match), data: { turbo_stream: true }, class:"text-xl font-bold bg-red-100 py-1 px-3 rounded-full inline-block min-w-10 cursor-pointer hover:bg-red-200" %>
      </div>
    </div>
  </div>
</div>
